{% extends "layout.html" %}
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
    {% for num in [1,2,3,4,5] %}
        <div>

             <br>
             <h1>{{ num }}</h1>

            
        </div>
        
    {% endfor %}
 
 <div class="login">
    <br>
 
	<h1>Boston House Price Prediction</h1>
</div>