{% extends "layout.html" %}
{% block content %}
<div>
    <h1 class="article-title">Production Scheduling </h1>
</div>
    <div class="content-section ">
        
        <br>
            <form action="{{ url_for('schedule')}}" method="post">
                <input class="form-group" type="text"  name="Tea1" placeholder="Enter Tea 1" required="required" /><br>
                <input class="form-group" type="text"  name="Tea2" placeholder="Enter Tea 1" required="required" /><br>
                <input class="form-group" type="text"  name="Tea3" placeholder="Enter Tea 1" required="required" /><br>
               
                  
                <button type="submit" class="btn btn-primary btn-block btn-large">Schedule</button>
            </form>   
            
            
            <br>
            <br>
       
       
    </div>

        <div>
            {{schedule_text}}

        </div>
      



     

{% endblock content %}
