{% extends "layout.html" %}
{% block content %}
<div>
    <h1 class="article-title">Operations Chart</h1>

    <div class="content-section ">
        <p class="text-secondary" > Select a month to view operations. </p>
    
        <a class="btn btn-secondary w3-button btn-block w3-hover-black" href="{{url_for('month')}}">Select Month </a>
        


    </div>

    
        
        </div>
        {{ data_var8 |safe }}
       
       </body>
       
    </div>
      



     

{% endblock content %}
