{% extends "layout.html" %}
{% block content %}


  </head>
  <body>


    <div id = "boxes">
        <h1>Month of  {{data_var12| safe}}</h1>
        <br>
          
    </div>  
    <div>
        <div id="fullbox" style="overflow:auto; overflow-x:hidden;  height:300px;">

            <h6> {{ w | safe}}</h6>
        </div>
        <br>
        
        <div id="rightbox">
            <h6> Total Sachets {{ sachet_count| safe}}</h6>
            
        </div>


    </div>
    
        
   

   
   <br>
    
    <div id="leftbox">
        <img src='./static/uploads/output.png' width="370" height="300"/>

    </div>
    
   <div id="rightbox">
         <img src='./static/uploads/wgt.png' width="370" height="300"/>
   </div>


    
    
                











  

</html>

{% endblock content %}