
  {% extends "layout.html" %}
  {% block content %}
  
  <body>
    <h4>File Upload</h4>
    
 <div class="content-section">

    <form method="POST" enctype="multipart/form-data" action="/uploadFile">
      <input class="btn text-white bg-secondary  w3-button btn-block w3-hover-black" type="file" id="myFile" name="uploaded-file" accept=".csv">
      <br>
      <input style = "margin-left: 250px"  class="btn btn-secondary w3-button  w3-hover-black" type="submit" value="Upload File">
  </form>
  <br>


 </div>
    
  <p style="color:grey;">Choose csv file to upload</p>
  <form action="/data" target="_blank">
        <input class="btn btn-secondary w3-button  w3-hover-black"  type="submit" value="Show CSV" />
    </form>
  </body>
</html>


{% endblock content %}