
  {% extends "layout.html" %}
  {% block content %}
  
  <body>
    <h1>Flask GET, POST tutorial</h1>
    
 
    <form method="POST" enctype="multipart/form-data" action="/uploadFile">
        <input type="file" id="myFile" name="uploaded-file" accept=".csv">
        <input type="submit" value="Upload File">
    </form>
  <br>
  <p style="color:blue;">Choose csv file to upload</p>
  <form action="/data" target="_blank">
        <input type="submit" value="Show CSV" />
    </form>
  </body>
</html>


{% endblock content %}