
  
  
  {% extends "layout.html" %}
  {% block content %}
  
  <body>
    <h1>File Upload</h1>
    
 
    <form method="POST" enctype="multipart/form-data" action="/uploadFile">
        <input  class="btn text-info bg-dark  w3-button btn-block w3-hover-black"  type="file" id="myFile" name="uploaded-file" accept=".csv">
        <br>
        <input  class="btn btn-secondary w3-button btn-block w3-hover-black"  type="submit" value="upload File">
    </form>
  <br>
  <p style="color:green;">file uploaded successfully</p>
  <form action="/data" target="_blank">
        <input  class="btn btn-secondary w3-button  w3-hover-black"  type="submit" value="Show CSV" />
    </form>
  </body>
</html>

{% endblock content %}